<div class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center">
  <div style="width: 674px; height: 80vh; background: rgba(28, 27, 23, 0.60); border-radius: 32px; border: 1px #CECECE solid; backdrop-filter: blur(32px)">
    <%= form_for(@profile, :url => wizard_path, :method => :patch) do |f| %>
      <div class="container pt-5">
        <div class="row justify-content-center">
          <div class="w-50 col-md-6 col-lg-4">
            <form class="row">
              <h1 class="text-center mb-5 main-title">Profile info</h1>
              <div class="col-12 mb-5">
                <%= f.label :first_name, class: "form-label label-box"%>
                <%= f.text_field :first_name,
                        class: "form-control text-box white"%>
              </div>
              <div class="col-12 mb-5">
                <%= f.label :last_name, class: "form-label label-box"%>
                <%= f.text_field :last_name,
                        class: "form-control text-box white"%>
              </div>

              <div class="d-flex justify-content-end">

                <div class="form-actions">
                  <%= link_to image_tag("next_arrow.png"), next_wizard_path %>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
