<div class="w-100 h-100 d-inline-flex flex-column justify-content-center align-items-center">
  <div class="glass-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="container pt-5">
        <div class="row justify-content-center">
          <div class="w-50 col-md-6 col-lg-4">
            <form class="row">
              <h1 class="text-center mb-5 main-title">Sign up</h1>
              <div class="col-12 mb-5">
                <%= f.label :email, class: "form-label label-box"%>
                <%= f.text_field :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        class: "form-control text-box white"%>
              </div>
              <div class="col-12 mb-5">
                <%= f.label :password, class: "form-label label-box"%>
                <%= f.password_field :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        class: "form-control text-box white"%>
              </div>
              <div class="col-12 mb-5">
                <%= f.label :password, class: "form-label label-box"%>
                <%= f.password_field :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        class: "form-control text-box white"%>
              </div>

              <div class="d-flex justify-content-between">
                <div class="form-actions btn clear-btn">
                  <%= f.button :submit, "Sign up", class: "btn white"%>
                </div>


              </div>

            </form>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
