<div class="container-sidebar" style="backdrop-filter:none; background:transparent; border-right: none;">
</div>
<div class="container-sidebar" style="position:fixed;">
  <div class="w-100 ps-2 pe-2 mt-0 mb-4 d-flex justify-content-center align-content-center">
    <% if current_user.profile %>
      <% if current_user.profile.avatar == "1" %>
        <%= image_tag("user1.svg") %>
      <% else %>
        <%= image_tag("user2.svg") %>
      <% end %>
    <% end %>
    <p class="ps-2 m-0"> <span> Hello, </span> <br> <%= current_user.profile.first_name %> <%= current_user.profile.last_name %> </p>
  </div>

  <h1>GrooveGrid</h1>

  <div class="sidebar-list">
    <!-- Dashboard -->
    <%= link_to dashboard_path, class: "text-decoration-none" do %>
    <%= image_tag("dashboard.svg", class: "me-3") %> Dashboard
    <% end %>

    <!-- Songs -->
    <%= link_to songs_path, class: "text-decoration-none" do %>
    <%= image_tag("songs.svg", class: "me-3") %> Songs
    <% end %>

    <!-- Playlists -->
    <%= link_to playlists_path, class: "text-decoration-none" do %>
    <%= image_tag("playlists.svg", class: "me-3") %> Playlists
    <% end %>

    <!-- Tags -->
    <%= link_to tags_path, class: "text-decoration-none" do %>
    <%= image_tag("tags.svg", class: "me-3") %> Tags
    <% end %>

  </div>

  <div class="sidebar-footer">
    <%= link_to image_tag("howto.svg"), welcome_page_path, class: "text-decoration-none me-4" %>
    <a href="#settings" class="text-decoration-none me-4"> <%= image_tag("settings.svg") %> </a>
    <%= link_to image_tag("log_out.svg"), destroy_user_session_path, class: "text-decoration-none me-4", data: {turbo_method: :delete} %>
  </div>

</div>
