<div class="container-sidebar">
  <div class="w-75 mt-0 mb-4 d-flex justify-content-around align-content-center">
    <%= image_tag("user1.svg") %>
    <p class="m-0"> <span> Hello, </span> <br> Martim Costa </p>
  </div>

  <h1>GrooveGrid</h1>

  <div class="sidebar-list">
    <a href="#dashboard" class="text-decoration-none"> <%= image_tag("dashboard.svg") %> Dashboard</a>
    <a href="#songs" class="text-decoration-none"> <%= image_tag("songs.svg") %> Songs</a>
    <a href="#playlists" class="text-decoration-none"> <%= image_tag("playlists.svg") %> Playlists</a>
    <a href="#tags" class="text-decoration-none"> <%= image_tag("tags.svg") %> Tags</a>
    <a href="#addsong" class="text-decoration-none"> <%= image_tag("addsong.svg") %> Add Song</a>
    <a href="#grid" class="text-decoration-none"> <%= image_tag("grid.svg") %> Grid</a>
  </div>

  <div class="sidebar-footer">
    <a href="#howto" class="text-decoration-none"> <%= image_tag("howto.svg") %> </a>
    <a href="#settings" class="text-decoration-none"> <%= image_tag("settings.svg") %> </a>
    <a href="#logout" class="text-decoration-none"> <%= image_tag("logout.svg") %> </a>
  </div>

</div>
