<%= form_with model: Song.new, url: songs_path, multipart: true do |f| %>
  <%= f.file_field :audio_file, value: "", class: "mb-4 lavender-3"%>
  <br>
  <h6>GENRE</h6>
  <%= f.text_field :genre,
      placeholder: 'Genre',
      required: true,
      autofocus: true,
      class: "form-control text-box white" %>

  <%# <h6 class="mt-3 text-start">TAG IT</h6>
  <%= f.text_field :tag_list,
      required: true,
      autofocus: true,
      class: "form-control text-box white"%>
  <div class="mt-4 form-actions btn clear-btn">
    <%= f.submit "Add song", class: "btn white" %>
  </div>
<% end %>
