<div class="container">
  <h1>Today's Rhythm</h1>

  <div class="dropdown">
      <button onclick="toggleDropdown('tagButton')">
          <span>Tag</span>
          <i class="fa-solid fa-tag" style="color: #3d44b3;" alt="Tag Icon"></i>
      </button>
      <div id="tagButton" class="dropdown-content">
          <a href="#">Option A</a>
          <a href="#">Option B</a>
          <a href="#">Option C</a>
      </div>
  </div>

    <div class="search-bar">
        <input type="text" placeholder="Search...">
    </div>
  </p>

  <p>
    <div class ="song-table-container">
      <table style="width: 100%; table-layout: fixed;">
        <thead>
          <tr>
            <th class="td:first-child">Song title</th>
            <th class="primary-lavender-4">BPM</th>
            <th>Artist</th>
            <th class="primary-lavender-4">Scale</th>
            <th>Duration</th>
            <th class="primary-lavender-4">Tags</th>
          </tr>
        </thead>
        <tbody>
        <% @songs.each do |song| %>
          <tr data-action="click->select#selectSong" data-song="<%= song.to_json %>" data-url="<%= cl_video_path song.audio_file.key || '' %>">
            <td><%= song.name %></td>
            <td class="primary-lavender-2"><%= song.bpm %></td>
            <td class="grey"><%= song.artist.name %></td>
            <td class="primary-lavender-2"><%= song.scale %></td>
            <% t = song.seconds.to_i %>
            <% song_duration = Time.at(t).utc.strftime("%H:%M:%S") %>
            <td class="grey"><%= song_duration[3,8] %></td>
            <td class="grey"><span class="song-tag"><%= song.tags.name %></td>
          </tr>
        <% end %>
        <tbody>
      </table>
    </div>
  </p>
</div>
