<h1 class="your-playlists">Your Playlists</h1>
<%= render "/shared/audio_player"%>


<div class="container">
  <p>
    <div class="container-search-bar">
      <%= link_to "Add Song ", new_song_path, class: "bgd-btn-three"%>
      <%= form_tag songs_path, method: :get do %>
        <div class= "search-bar-wrapper">
          <%= text_field_tag :query,
          params[:query],
          class:"form-control-search text-box white",
          placeholder:"   Find a song";
          %>
          <div class="form-actions btn-search btn clear-btn">
            <%= submit_tag "Search", class: "btn white" %>
          </div>
        </div>
      <% end %>
    </div>
  </p>
  <div class ="song-table-container">
    <table style="width: 100%; table-layout: fixed;">
      <thead>
        <tr>
          <th class="td:first-child">Song title</th>
          <th class="primary-lavender-4">BPM</th>
          <th>Artist</th>
          <th class="primary-lavender-4">Scale</th>
          <th>Duration</th>
          <th class="primary-lavender-4">Genre</th>
        </tr>
      </thead>
      <tbody>
        <% @songs.each do |song| %>
          <tr data-action="click->select#selectSong" data-song="<%= song.to_json %>" data-url="<%= cl_video_path song.audio_file.key || '' %>">
            <td class="songs-list"><%= link_to song.name, song_path(song), style: 'text-decoration: none' %></td>
            <td class="primary-lavender-2"><%= song.bpm %></td>
            <td class="grey"><%= song.artist.name %></td>
            <td class="primary-lavender-2"><%= song.scale %></td>
            <% t = song.seconds.to_i %>
            <% song_duration = Time.at(t).utc.strftime("%H:%M:%S") %>
            <td class="grey"><%= song_duration[3,8] %></td>
            <td class="grey"><span class="song-tag"><%= song.genre %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>
