<!--display song name, artist and label-->
<% if @song %>
  <h1 class="song-name"><%= @song.name %></h1>
  <div class="stats">
    <%= link_to songs_path do %>
      <%= image_tag("user-03.svg", class: "me-3") %>
      <%= @song.artist.name %>
    <% end %>
    <%= link_to playlists_path do %>
      <%= image_tag("label.svg", class: "me-3") %>
      <%= @song.label.name  %>
    <% end %>
  </div>
<% else %>
  <p>Song not found</p>
<% end %>

<!--add tag-->
<%= form_with(url: add_tag_song_path(@song), method: :post) do |form| %>
  <%= form.text_field :tag_name,
      placeholder: '   Add your tags',
      required: true,
      class: "form-control-search text-box white w-25 m-5 p-1" %>
  <div class="btn bgd-btn btn-lg">
    <%= form.submit "Add Tag"%>
  </div>
<% end %>

<!--go back-->
<div class="form-actions ms-5">
  <%= link_to image_tag("back_arrow.png"), songs_path %>
</div>
