<% if @song %>
  <h1><%= @song.name %></h1>
  <p>Artist: <%= @song.artist.name %></p>
  <p>Label: <%= @song.label.name %></p>

  <audio controls>
    <source src="<%= cl_video_path @song.audio_file.key, controls: true %>" type="audio/mp3">
  </audio>

<% else %>
  <p>Song not found</p>
<% end %>

<p>
  Tags:
  <% if @song.tags.present? %>
    <% @song.tags.each do |tag| %>
      <span class="tag"><%= link_to tag.name, tag_path(tag) %></span>
    <% end %>
  <% else %>
    No tags added
  <% end %>
</p>

<%= form_with(url: add_tag_song_path(@song), method: :post) do |form| %>
  <%= form.label :tag_name, 'Add Tag:' %>
  <%= form.text_field :tag_name %>
  <%= form.submit 'Add' %>
<% end %>

<%= form_with(url: remove_tag_song_path(@song), method: :post) do |form| %>
  <%= form.label :tag_name, 'Remove Tag:' %>
  <%= form.text_field :tag_name %>
  <%= form.submit 'Remove' %>
<% end %>

<%= link_to 'Back', songs_path %>
