<% if @song %>
  <h1><%= @song.name %></h1>
  <p>Artist: <%= @song.artist.name %></p>
  <p>Label: <%= @song.label.name %></p>

  <%= render "/shared/audio_player"%>

  <audio controls>
    <source src="<%= cl_video_path @song.audio_file.key, controls: true %>" type="audio/mp3">
  </audio>

<% else %>
  <p>Song not found</p>
<% end %>

<p>
  Tags:
  <% if @song.tags.present? %>
    <% @song.tag_songs.each do |tag_song| %>
      <td><%= link_to image_tag("X.svg"),
              destroy_tag_path(tag_song),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@song.tags.where(id: tag_song.tag_id)[0].name}?"},
              class: 'text-danger' %></td>
      <span class="tag"><%= link_to @song.tags.where(id: tag_song.tag_id)[0].name, tag_path(tag), style: 'text-decoration: none'%></span>
    <% end %>
  <% else %>
    No tags added
  <% end %>
</p>

<%= form_with(url: add_tag_song_path(@song), method: :post) do |form| %>
  <%= form.label :tag_name, 'Add Tag:' %>
  <%= form.text_field :tag_name %>
  <%= form.submit 'Add' %>
<% end %>

<%= link_to 'Back', songs_path %>
