<div class="main_dashboard_container">
  <div>
    <h1 class="dashboard">Your Dashboard</h1>
  </div>
  <div class="dashboard_container">
    <div class="glass-container-two">
      <h3 class="have">YOU HAVE</h3>
      <div class="stats">
        <%= link_to songs_path do %>
         <%= image_tag("songs.svg", class: "me-3") %>
         <%= Song.count %> Songs
        <% end %>
        <%= link_to songs_path do %>
         <%= image_tag("playlists.svg", class: "me-3") %>
         <%= Playlist.count %> Playlists
        <% end %>
      </div>
      <%= image_tag("chart.svg", class: "chart") %>
    </div>

    <div class="glass-container-two">
  <h3 class="have">TOP SETS</h3>
  <div class="stats">
    <%= link_to songs_path do %>
      <%= image_tag("playlists.svg", class: "me-3") %>
      <% if Playlist.any? %>
        <%= "You have #{Playlist.count} Playlists" %>
      <% else %>
        No Playlists
      <% end %>
    <% end %>

    <%= link_to songs_path do %>
      <%= image_tag("playlists.svg", class: "me-3") %>
      <% if Playlist.any? %>
        <%= Playlist.last.name %>
      <% else %>
        No Playlists
      <% end %>
    <% end %>
  </div>
  <%= image_tag("CD.svg", class: "cd") %>
</div>

  </div>
</div>
