<div class="main_dashboard_container">
  <div>
    <h1 class="dashboard">Your Dashboard</h1>
  </div>

  <div class="dashboard_container">
    <div class="glass-container-two">
      <h3 class="have">YOU HAVE</h3>
      <div class="stats">
        <%= link_to songs_path do %>
          <%= image_tag("songs.svg", class: "me-3") %>
          <%= current_user.songs.count %> Songs
        <% end %>
        <%= link_to playlists_path do %>
          <%= image_tag("playlists.svg", class: "me-3") %>
          <%= current_user.playlists.count %> Playlists
        <% end %>
      </div>
      <%= image_tag("chart.svg", class: "chart") %>
    </div>

    <div class="glass-container-two">

      <h3 class="have">LAST SETS</h3>
      <div class="stats">
        <% if @playlists.any? %>
          <% if @playlists.many? %>
            <% @playlists.last(2).each do |playlist| %>
              <%= link_to playlist_path(playlist) do %>
                <%= image_tag("playlists.svg", class: "me-3") %>
                <%= playlist.name %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to playlist_path(@playlists.last) do %>
              <%= image_tag("playlists.svg", class: "me-3") %>
              <%= @playlists.last.name %>
            <% end %>
          <% end %>
        <% else %>
          <p><em>No playlists!</em></p>
        <% end %>

      </div>
      <%= image_tag("CD.svg", class: "cd") %>
    </div>
  </div>
</div>
