<h1 class="your-playlists">Your tags</h1>
<%= render "/shared/audio_player"%>
<div class="song-table-container">
  <div class="playlists">
    <% @tags.uniq.each do |tag| %>
      <div class="glass-container-three m-2" data-controller="path-link" data-path="<%= tag_path(tag) %>">
        <%= link_to tag, style: 'text-decoration: none' do %>
          <%= image_tag "Tags/tag #{session["tag_image_#{tag.id}"]}.png", class: 'sphere-tag' %>
        <% end %>
        <div class="playlist-name fs-4">
          <%= tag.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
