<h1 class="your-playlists mt-3">Your Playlists</h1>
<%= render "/shared/audio_player"%>


<div class="m-4">
 <%= link_to "New Playlist ", new_playlist_path, class: "bgd-btn-two"%>
</div>

<div class="song-table-container">
  <div class="playlists">
    <% @playlists.each do |playlist| %>
      <div class="glass-container-three m-2" data-controller="path-link" data-path="<%= playlist_path(playlist) %>">
        <%= link_to playlist, style: 'text-decoration: none' do %>
            <%= image_tag "Playlist/playlist #{session["playlist_image_#{playlist.id}"]}.jpg", class: 'sphere' %>
        <% end %>
        <div class="playlist-name">
          <%= playlist.name %>
        </div>
        <div class="playlist-songs">
          <%= playlist.songs.length %> songs
        </div>
      </div>
    <% end %>
  </div>
</div>
