<h1 class="your-playlists">Your Playlists</h1>
<%= render "/shared/audio_player"%>
  <div class="controls d-flex">
    <div data-action="click->music-player#play">  <%= image_tag 'play.svg', class: 'bang-button', alt: 'bang-button', size: '25x25' %></div>
    <div data-action="click->music-player#pause">  <%= image_tag 'pause.svg', class: 'bang-button', alt: 'bang-button', size: '25x25' %></div>
  </div>
<div class="song-table-container">
  <div class="playlists">
    <% @playlists.each do |playlist| %>
      <div class="glass-container-three m-2" data-controller="path-link" data-path="<%= playlist_path(playlist) %>">
        <%= link_to playlist, style: 'text-decoration: none' do %>
          <%= image_tag "Sphere.png", class: "sphere"%>
        <% end %>
        <div class="playlist-name">
          <%= playlist.name %>
        </div>
        <div class="playlist-songs">
          <%= playlist.songs.length %> songs
        </div>
      </div>
    <% end %>
  </div>
</div>
