<%= render "/shared/audio_player"%>

<%= form_with model: Playlist.new, url: playlists_path, multipart: true do |f| %>
  <%= f.label :name, class: "form-label label-box"%>
  <%= f.text_field :name,
          required: true,
          class: "form-control text-box white"%>
  <div class="form-actions btn bgd-btn">
    <%= f.submit "Create Playlist", class: "btn white"%>
  </div>
<% end %>
