<div class="container">

  <h1><%= @playlist.name %></h1>
  <%= render "/shared/audio_player"%>
  <p>
    <div>
        <a class="active" href="#home">BPM</a>
        <a href="#about">Tag</a>
        <a href="#contact">Scale</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
    </div>
  </p>

  <%= render "playlist_songs/modal", playlist: @playlist, playlist_song: @playlist_song %>

  <p>
    <div class ="song-table-container">
      <table>
        <thead>
          <tr><%= link_to "X", playlist_path(@playlist), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this playlist?" } %></tr>
          <tr>
            <th>Delete</th>
            <th>Song title</th>
            <th class="primary-lavender-4">BPM</th>
            <th>Artist</th>
            <th class="primary-lavender-4">Scale</th>
            <th>Duration</th>
            <th class="primary-lavender-4">Tags</th>
          </tr>
        </thead>
        <tbody>
        <% @playlist.songs.each do |song| %>
          <% playlist_song = PlaylistSong.find_by(playlist: @playlist, song: song) %>
          <tr data-action="click->select#selectSong" data-song="<%= song.to_json %>" data-url="<%= cl_video_path song.audio_file.key || '' %>">
            <td><%= link_to "X", playlist_song_path(playlist_song), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{song.name} from your #{@playlist.name} playlist"}, class: 'text-danger' %></td>
            <td><%= song.name %></td>
            <td class="primary-lavender-2"><%= song.bpm %></td>
            <td class="grey"><%= song.artist.name %></td>
            <td class="primary-lavender-2"><%= song.scale %></td>
            <% t = song.seconds.to_i %>
            <% song_duration = Time.at(t).utc.strftime("%H:%M:%S") %>
            <td class="grey"><%= song_duration[3,8] %></td>
            <td class="grey"><span class="song-tag"><%= song.tags.name %></td>
          </tr>
        <% end %>
        <tbody>
      </table>
    </div>
  </p>
</div>
