<!DOCTYPE html>
<html>
  <head>
    <title>GrooveGrid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="main-container d-flex justify-content-between">

    <%= render "shared/sidebar" unless devise_controller? || controller_name == "pages" || controller_name == "profiles" %>
    <%= render "shared/flashes" %>
    <% unless devise_controller? || controller_name == "pages" || controller_name == "profiles" %>
      <div data-controller="select" class="container-content justify-content-start">
        <%= render "/shared/audio_player"%>
        <%= yield %>
      </div>
    <% else %>
      <div class="container-content justify-content-center">
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>
